.modal-loading {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: -1px;
	background-color: rgba(0, 0, 0, .25);
}
.modal-loading-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.modal-loading-icon {
	background-color: #fff;
	border-radius: 50%;
	padding: .75rem;
}
